@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
:root {
  --color-dark-backgraud: #090e16;
  --color-purple-details: #7b4ae2;
  --color-rose-title: #ff0059;
  --color-azure-letras: #f0ffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Raleway, sans-serif;
}

body {
  background: var(--color-dark-backgraud);
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
#icon-home,
#iconnav {
  display: flex;
  font-size: 1.5rem;
  color: var(--color-rose-title);
}
.links {
  display: inline-block;
  gap: 30px;
  padding: 20px;
}
#burguer {
  display: none;
}

.nav-menu {
  display: block;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}
a {
  color: var(--color-azure-letras);
  transition: 0.8s ease;
}

a:hover {
  font-size: 1.25rem;
  font-family: "Share Tech Mono", monospace;
  color: var(--color-rose-title);
}
.logo-mobile {
  display: none;
}
.home-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 0.4px solid var(--color-purple-details);
  color: var(--color-azure-letras);
  font-size: 2rem;
  font-weight: 700;
}
.saudação {
  font-size: 1.25rem;
  color: var(--color-rose-title);
}
.redes-socias {
  display: flex;
  cursor: pointer;
  gap: 1.875rem;
  margin-top: 1rem;
  opacity: 80%;
}

.ocupação {
  margin-top: 0.625rem;
  opacity: 70%;
  font-family: "Share Tech Mono", monospace;
  font-size: 1.5rem;
  font-weight: 400;
}

.logo-sobremim {
  margin: 6%;
  width: 25.125rem;
}

.sobre-mim {
  width: 100%;
  height: 100vh;
  color: var(--color-azure-letras);
  gap: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
}
.meu-nome-sobre-mim {
  font-size: 2.375rem;
}
.info-eu {
  display: flex;
  font-family: "Share Tech Mono", monospace;
  padding: 0.313rem;
}
.projetos-title,
.contato-title,
.sobre-mim-title {
  font-size: 3.75rem;
  padding: 1.25rem;
  color: var(--color-rose-title);
  display: flex;
  justify-content: center;
  border-top: 0.4px solid var(--color-purple-details);
}

.cards {
  display: flex;
  margin-bottom: 3.438rem;
}
.card-code-geek {
  border-right: 0.4px solid var(--color-purple-details);
}
.card-reprodutor-music {
  border-left: 0.4px solid var(--color-purple-details);
}
.card-code-geek,
.card-meus-links,
.card-reprodutor-music {
  padding: 1.563rem;
  width: 100%;
}
.img-card {
  padding: 2.563rem;
  /*filter: contrast(110%);*/
  filter: saturate(150%);
}

.card-title {
  font-size: 1.688rem;
  color: var(--color-rose-title);
  display: flex;
  justify-content: center;
}
.descrição {
  font-size: 1rem;
  font-family: "Share Tech Mono", monospace;
  text-align: justify;
  color: var(--color-azure-letras);
}

.ver-repositorio,
.ver-projetos {
  display: inline-block;
  padding: 1rem;
  gap: 0.75rem;
  color: var(--color-purple-details);
  font-weight: bold;
  font-size: 1rem;
}

.info-contato {
  font-size: 1.25rem;
  font-family: "Share Tech Mono", monospace;
  text-align: justify;
  color: var(--color-azure-letras);
}
strong {
  color: var(--color-purple-details);
}
.redes-socias-contatos {
  display: flex;
  justify-content: center;
  cursor: pointer;
  gap: 1.875rem;
}

#icon-footer {
  margin: 30px 0 30px;
  font-size: 30px;
  color: var(--color-rose-title);
}

footer {
  padding: 0.813rem;
  background-color: #7a4ae225;
}
.copyrigth {
  font-size: 1rem;
  opacity: 50%;
  color: var(--color-azure-letras);
  text-align: center;
}
@media screen and (max-width: 768px) {
  header {
    padding: 1.1rem;
  }

  #iconnav {
    display: block;
  }
  #burguer {
    display: block;
    font-size: 1.875rem;
    color: var(--color-rose-title);
  }
  #burguer:hover {
    color: var(--color-purple-details);
  }
  .nav-menu {
    display: none;
    font-size: 1.8rem;
  }

  .links {
    display: flex;
    padding: 0.19rem;
  }

  .logo {
    display: none;
  }
  .logo-mobile {
    display: flex;
    justify-content: center;
    height: 30vh;
  }
  .home-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
  }
  .saudação {
    font-size: 20px;
  }
  .ocupação {
    display: flex;
    font-size: 1rem;
  }

  .redes-socias {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 3.125rem;
  }

  .sobre-mim-title {
    font-size: 2.188rem;
  }
  .sobre-mim {
    height: 100vh;
  }
  .logo-sobremim {
    display: none;
  }
  .meu-nome-sobre-mim {
    font-size: 1.25rem;
    text-align: center;
  }
  .info-eu {
    font-size: 20px;
    padding: 0.313rem;
  }
  .projetos-title {
    font-size: 2.188rem;
  }
  .cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.438rem;
  }
  .img-card {
    width: 100%;
    filter: saturate(150%);
  }
  .card-code-geek,
  .card-meus-links,
  .card-reprodutor-music {
    height: 100vh;
    border: none;
    width: 100%;
  }
  .ver-repositorio,
  .ver-projetos {
    display: inline-block;
    margin-left: 4px;
  }
  .card-code-geek {
    border-bottom: 0.4px solid var(--color-purple-details);
  }
  .card-meus-links {
    border-bottom: 0.4px solid var(--color-purple-details);
  }
  .contato-title {
    font-size: 2.188rem;
  }
  .info-contato {
    font-size: 1.063rem;
    text-align: center;
  }
}
