@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
:root {
  --color-dark: #090e16;
  --color-purple: #7b4ae2;
  --color-rose: #ff0059;
  --color-azure: #f0ffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Raleway, sans-serif;
}

body {
  background: var(--color-dark);
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

i {
  font-size: 30px;
  color: var(--color-rose);
}

.nav-menu {
  display: flex;
  gap: 32px;
  font-size: 22px;
}
a {
  color: var(--color-azure);
  transition: 0.5s;
}

a:hover {
  color: var(--color-rose);
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 0.4px solid var(--color-purple);
  color: var(--color-azure);
  font-size: 32px;
  font-weight: 700;
}
.saudação {
  font-size: 20px;

  color: var(--color-rose);
}
.redes-socias {
  display: flex;
  cursor: pointer;
  gap: 30px;
  margin-top: 15px;
  opacity: 80%;
}

.ocupação {
  margin-top: 10px;
  opacity: 70%;
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  font-weight: 400;
}

.logo{
margin-top:30px;
} 
.sobre-mim-title{
  border-top: 0.4px solid var(--color-purple);
  padding: 24px;
  font-family: Raleway, sans-serif;
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  color: var(--color-rose);
}
.sobre-mim{
  color: var(--color-azure);
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  
} 
.info-eu{
display: flex;
}
